# User-specific files
*.xcuserstate
*.xcuserdata

# Build files
DerivedData/
build/

# Swift Package Manager
Packages/
.swiftpm/
.idea/
*.xcodeproj/project.xcworkspace/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Archives
*.xcarchive

# SwiftPM
.build/

# Documentation
docs/*.docset
*.docc/

# Temporary files
*.tmp
*.swp
.DS_Store

# Environment files
.env
